html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-family: "Gilroy", "Halvetica", "sans-serif";
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    background-color: $white;
    color: $black;

    &._noscroll {
        overflow: hidden;
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
}

.wrapper {
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;

    & > :last-child {
        margin-bottom: 0;
    }
}

button {
    text-align: left;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    @include adaptive-value("font-size", 48, 36, 1);
    margin-bottom: 25px;
}

h2 {
    @include adaptive-value("font-size", 36, 30, 1);
    margin-bottom: 25px;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

h4,
h5,
h6 {
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-weight: 500;
    line-height: normal;

    color: color-opacity($black, 0.7);

    &._tall {
        @media (min-width: 769px) {
            font-size: 20px;
        }
    }
}

a {
    color: inherit;
}

._italic {
    font-style: italic;
}

figure,
img,
svg {
    display: block;
    width: 100%;
    max-width: 100%;
}

._btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    color: $accent;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    border-radius: 55px;
    border: 1px solid color-opacity($accent, 0.3);
    background-color: $white;

    padding: 19px 29px;
    width: 100%;
    max-width: 280px;

    transition: all 0.3s ease 0s;

    @media (max-width: 768px) {
        max-width: none;
    }

    img,
    svg {
        width: 18px;
        height: 18px;
        stroke: currentColor;
        stroke-width: 2px;
        flex: 0 0 auto;
        transition: stroke 0.3s ease 0s;
    }

    // ._btn-main

    &-main {
        @media (any-hover: hover) {
            &:hover {
                background-color: $accent;
                color: $white;
            }
        }
    }

    // ._btn-big

    &-big {
        height: 83px;
        max-width: 233px;

        @media (max-width: 1024px) {
            height: 63px;
        }
    }

    // ._btn-link

    &-link {
        img,
        svg {
            transform: rotate(135deg);
        }
    }

    // ._btn-more

    &-more {
        margin-top: 30px;

        img,
        svg {
            transform: rotate(-90deg);
            transition: transform 0.3s ease 0s;
        }

        &._active {
            img,
            svg {
                transform: rotate(90deg);
            }
        }
    }
}

._background {
    padding: 35px 40px;
    border-radius: 20px;
}

._linear {
    background: $linear;
}

._border {
    overflow: hidden;
    border-radius: 30px;
}
