.form {
    // .form__row

    &__row {
        display: flex;
        margin-bottom: 30px;
        gap: 23px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    // .form__item

    &__item {
        width: 100%;

        &:not(:only-child) {
            @media (min-width: 769px) {
                width: 50%;
            }
        }

        label {
            display: block;
            margin-bottom: 15px;
            font-size: 22px;
            font-weight: 500;
            line-height: 105.8%;
        }

        input,
        textarea {
            display: block;
            width: 100%;
            padding: 20px 25px;
            border: 1px solid color-opacity($black, 0.2);
        }

        input {
            border-radius: 50px;
        }

        textarea {
            border-radius: 20px;
            resize: none;
            height: 94px;

            @media (max-width: 768px) {
                height: 140px;
            }
        }

        &._error {
            input,
            textarea,
            .rating-form__ratings {
                border-color: red;
            }
        }
    }

    // .form__button

    &__button {
        @media (max-width: 768px) {
            width: 100%;
        }

        ._btn {
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}

form._submitting {
    pointer-events: none;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        display: none;
    }
}

.rating-form__ratings {
    display: flex;
    gap: 3px;
    padding: 3px;

    width: 100%;
    border-radius: 50px;
    border: 1px solid color-opacity($black, 0.2);

    // .rating-form__ratings-item

    &-item {
        cursor: pointer;
        flex: 1 1 auto;

        * {
            pointer-events: none;
        }

        border-radius: 50px;
        border: 1px solid color-opacity($black, 0.2);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1px;
        height: 56px;
        padding: 10px;

        color: color-opacity($black, 0.6);
        font-size: 24px;
        font-weight: 500;
        line-height: 105.8%;
        position: relative;

        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                border-color: $accent;
            }
        }

        &._active {
            border-color: $accent;
        }

        img,
        svg {
            width: 17px;
            fill: #ffbe41;
            flex: 0 0 auto;
        }

        img,
        svg,
        span {
            pointer-events: none;
        }

        input {
            position: absolute;
            inset: 0;
            z-index: 2;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.wpcf7-response-output {
    border-radius: 20px;
    text-align: center !important;
    margin-inline: 0 !important;
}

.invalid .wpcf7-response-output {
    border-color: #d20023 !important;
}
