.header {
    z-index: 16;

    &._sticky {
        @media (min-width: 1025px) {
            position: sticky;
            top: 0;

            transition:
                background-color 0.3s ease 0s,
                backdrop-filter 0.3s ease 0s;

            background-color: rgba($color: $white, $alpha: 0.6);
            backdrop-filter: blur(6.900000095367432px);

            .header__body {
                padding: 30px 0;
            }
        }
    }

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 10px;
        padding: 16px 0;

        transition: padding 0.3s ease 0s;

        @media (max-width: 1024px) {
            flex-wrap: wrap;
            font-size: 14px;
        }
    }

    // .header__logo

    &__logo {
        flex: 0 0 auto;
        width: 20%;

        border-radius: 23px;
        border: 1px solid $gray-e6;
        padding: 19px;

        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1024px) {
            width: calc(48% - 5px);
            padding: 15px 19px;
        }

        img,
        svg {
            max-width: 200px;
        }
    }

    // .header__bonus

    &__bonus {
        flex: 0 0 auto;
        width: 21.272%;

        border-radius: 23px;
        border: 1px dashed $gray-e6;
        padding: 5px;

        font-weight: 700;
        line-height: 105.8%;
        letter-spacing: -0.03em;
        text-transform: uppercase;

        @media (max-width: 1024px) {
            width: 100%;
            order: 10;

            br {
                display: none;
            }
        }

        div {
            width: 100%;
            height: 100%;
            padding: 19px 30px;

            border-radius: 20px;
            background: $gray-f5;

            @media (max-width: 1024px) {
                padding: 14px 19px;
            }
        }

        span {
            color: $accent;
        }
    }

    // .header__promocode

    &__promocode {
        flex: 0 0 auto;
        width: 36.441%;

        display: flex;
        align-items: center;
        gap: 20px;

        border-radius: 23px;
        border: 1px dashed $gray-e6;
        padding: 4px;

        @media (max-width: 1024px) {
            width: 100%;
            order: 11;
            padding: 5px;
        }

        // .header__promocode-body

        &-body {
            display: flex;
            align-items: center;

            width: 100%;
            height: 100%;
            padding: 6px;
            gap: 20px;

            border-radius: 20px;
            background: $gray-f5;

            @media (max-width: 1024px) {
                padding: 14px 19px;
            }
        }

        // .header__promocode-img

        &-img {
            width: 61px;
            height: 61px;
            flex: 0 0 auto;

            @media (max-width: 1024px) {
                display: none;
            }
        }

        // .header__promocode-text

        &-text {
            b {
                text-transform: uppercase;
            }

            span {
                color: $accent;
            }

            label {
                opacity: 0.5;
            }

            i {
                font-style: normal;

                @media (max-width: 768px) {
                    font-size: 12px;
                }
            }
        }
    }

    // .header__donwload

    &__donwload {
        flex: 0 0 auto;
        width: 19.75%;
        height: auto;

        @media (max-width: 1024px) {
            width: calc(52% - 5px);
            max-width: none;
        }

        @media (max-width: 768px) {
            font-size: 12px;
            gap: 12px;

            padding: 20px;

            img,
            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}
