$container: 1180;
$padding: 20;
$containerWithPadding: $container + ($padding * 2);

$white: var(--white);
$black: var(--black);
$accent: var(--accent);
$gray-e6: var(--gray-e6);
$gray-d9: var(--gray-d9);
$gray-f5: var(--gray-f5);
$linear: var(--linear);

@function color-opacity($color, $opacity) {
    @return rgb(from $color r g b / $opacity);
}
