.card {
    border-radius: 30px;
    border: 1px solid $gray-e6;

    padding: 27px 10px 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    // .card-logo

    &-logo {
        width: 174px;
        margin-bottom: 20px;
    }

    // .card-rating

    &-rating {
        width: 94px;
        margin-bottom: 25px;
    }

    label {
        text-align: center;
        margin-bottom: 32px;
        max-width: 165px;
        letter-spacing: -0.02em;
        opacity: 0.7;
    }

    ._btn {
        width: 100%;
    }
}

.rating-list {
    & > :not(:last-child) {
        margin-bottom: 20px;

        @media (max-width: 768px) {
            margin-bottom: 35px;
        }
    }

    // .rating-list__item

    &__item {
        border-top: 1px solid color-opacity($black, 0.2);
        padding-top: 20px;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        // .rating-list__item-info

        &-info {
            display: flex;
            gap: 20px;

            @media (max-width: 768px) {
                width: 100%;
                gap: 10px;
            }

            .rating {
                // .rating-author

                &-author {
                    width: 83px;
                    height: 83px;
                    position: relative;
                    flex: 0 0 auto;

                    @media (max-width: 768px) {
                        width: 54px;
                        height: 54px;
                    }

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                }

                // .rating-info

                &-info {
                    @media (max-width: 768px) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        flex: 1 1 auto;
                        flex-wrap: wrap;
                    }

                    span {
                        font-size: 18px;
                        line-height: 105.8%;
                        white-space: nowrap;

                        @media (max-width: 768px) {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }

                    time {
                        font-size: 16px;
                        opacity: 0.5;
                        display: block;
                        margin-top: 3px;

                        @media (max-width: 768px) {
                            margin-top: 0;
                        }
                    }

                    .icon {
                        margin-top: 15px;
                        width: 86px;
                        flex: 0 0 auto;

                        @media (max-width: 768px) {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        // .rating-list__item-text

        &-text {
            max-width: 580px;
            width: 100%;
            flex: 1 1 auto;

            @media (max-width: 768px) {
                max-width: none;
            }
        }
    }

    ._btn {
        margin-top: 35px;

        @media (max-width: 768px) {
            max-width: none;
        }
    }
}

ul.page-numbers {
    margin-top: 20px;
    gap: 5px;
}

.page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        width: 28px;
        height: 28px;
        color: #0066ff;

        background-color: #fff;
        box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.06);

        font-family: NamuPro;
        letter-spacing: -0.06em;
        transition: all 0.3s ease 0s;

        a,
        span {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;
        }

        &:has(a) {
            @media (any-hover: hover) {
                &:hover {
                    background-color: #cccccc;
                }
            }
        }

        &:has(.next),
        &:has(.prev) {
            width: auto;

            a {
                padding: 0 10px;
            }
        }
    }

    .current {
        color: #b9b9b9;
    }
}
