table {
    border-collapse: unset !important;
    border-spacing: 0 !important;
    width: 100%;
    text-align: left;

    border: 1px solid $gray-e6 !important;
    border-radius: 20px;

    tr {
        & > :not(:last-child) {
            border-right: 1px solid $gray-e6 !important;
        }
    }

    td,
    th {
        padding: 12px 19px !important;

        overflow-wrap: normal !important;
        word-break: normal !important;

        @media (max-width: 1024px) {
            min-width: 120px;
        }
    }

    td {
        border-top: 1px solid $gray-e6 !important;
        color: rgba($color: $black, $alpha: 0.7);
    }
}

.wp-block-table {
    overflow-x: unset !important;

    @media (max-width: 1024px) {
        overflow-x: auto !important;
        width: 100vw;
        margin-left: -20px;
        max-width: none;
        padding-inline: $padding + px;

        table {
            width: fit-content;
            max-width: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
