#wpadminbar {
    max-width: 100vw !important;
}

.wp-block-columns {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: $container + px;
    margin-inline: auto;
    gap: 0 !important;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }

    @media (max-width: 768px) {
        margin-bottom: 100px;

        flex-direction: column;
    }

    .wp-block-columns {
        margin-bottom: 30px;
        padding-inline: 0;
        width: 100%;

        max-width: none;

        &:not(:first-child) {
            @include adaptive-value("margin-top", 50, 30, 1);
        }

        &._wrap {
            flex-wrap: wrap !important;
            gap: 40px 20px !important;

            @media (max-width: 768px) {
                gap: 40px !important;
            }
        }

        &._wrap-4 {
            flex-wrap: wrap !important;
            justify-content: flex-start;

            .wp-block-column {
                width: calc(25% - 15px);

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        &._wrap-3 {
            flex-wrap: wrap !important;
            justify-content: flex-start;

            .wp-block-column {
                width: calc(100% / 3 - 2 / 3 * 20px);

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        &._links {
            gap: 15px 20px !important;

            @media (max-width: 768px) {
                gap: 10px !important;
            }
        }

        &._numeric {
            counter-reset: count;

            .wp-block-column {
                counter-increment: count;
                position: relative;
                min-height: 140px;

                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                padding: 20px;
                border: 1px dashed rgba($color: $black, $alpha: 0.2);

                @media (max-width: 768px) {
                    margin-bottom: 0 !important;
                }

                &:before {
                    content: counter(count);

                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;

                    background-color: $white;

                    color: $accent;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 700;

                    display: block;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }

    .wp-block-column {
        flex-grow: unset !important;
        flex-shrink: unset !important;
        flex-basis: unset !important;
        width: calc(50% - 10px);

        @media (max-width: 768px) {
            width: 100%;
        }

        &:only-child {
            width: 100%;
            margin: 0;
            margin-top: 0;
        }

        img {
            &:first-child {
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        & > h2 + p {
            margin-top: 20px;
        }

        & > h3 + p {
            margin-top: 20px;
        }

        & > p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            &:not(:first-child) {
                margin-top: 15px;
            }

            a {
                color: $accent;
                display: inline;
            }
        }
    }

    .is-layout-flow {
        &:empty {
            display: none;
        }
    }

    figure {
        &:not(.wp-block-table) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        &:first-child {
            margin-top: 0;
            margin-bottom: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        img,
        picture {
            width: 100%;
        }

        &._flex {
            display: flex;

            @media (max-width: 768px) {
                display: block;
            }

            img {
            }

            figcaption {
                width: 100%;
                max-width: 270px;
                margin-top: 0;
                font-style: normal;
                margin-left: 20px;
                color: inherit;

                @media (max-width: 768px) {
                    display: block;
                    margin-left: 0;
                    max-width: none;
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }

    figcaption {
        margin-top: 16px;
        opacity: 0.7;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 0;
    }

    blockquote {
        margin-bottom: 30px;

        p {
            position: relative;
            padding: 0 35px;

            &:before,
            &:after {
                height: 20px;
                width: 20px;
                flex: 0 0 auto;
                font-size: 30px;
                position: absolute;
            }

            &:before {
                content: "“";
                top: 0;
                left: 0;
            }

            &:after {
                content: "”";
                right: 0;
                bottom: 0;
            }
        }

        div,
        figure {
            display: flex;
            align-items: center;
            margin-top: 20px !important;

            span,
            p,
            figcaption {
                margin-left: 11px;
                margin-top: 0;
                font-style: normal;
            }

            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }
    }

    ul,
    ol {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px 20px;

        li {
            a {
                display: inline-block;
            }
        }

        &._wrap {
            flex-direction: row;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            li {
                flex: 1 1 auto;
            }
        }

        &._wrap-2 {
            li {
                width: calc(50% - 20px);

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        &._wrap-3 {
            li {
                width: calc(100% / 3 - 2 / 3 * 20px);

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }

    ul {
        li {
            &:before {
                display: inline-block;
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 50%;
                flex: 0 0 auto;
                background-color: currentColor;
                margin-right: 10px;
            }
        }
    }

    ol {
        color: rgba($color: $black, $alpha: 0.7);

        counter-reset: num;

        li {
            counter-increment: num;

            &:has(strong) {
                display: flex;
                align-items: center;

                @media (max-width: 768px) {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }

                strong {
                    &:before {
                        content: counter(num) ". ";
                    }
                }
            }

            &:not(:has(strong)) {
                &:before {
                    content: counter(num) ". ";
                }
            }

            strong {
                color: #ca0000;
                font-family: Bebas Neue;
                font-size: 25px;
                font-style: normal;
                font-weight: 600;
                line-height: 1;
                text-transform: uppercase;
                margin-right: 7px;
            }

            a {
                display: inline-block;
            }
        }
    }

    img {
        width: auto;
        margin-right: auto;

        @media (max-width: 768px) {
            margin-left: auto;
        }
    }

    ._btn,
    ._more {
    }
}

@media (max-width: 781px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
        flex-basis: unset !important;
    }
}

.schema-faq {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width: 600px) {
        display: block;
        gap: 0;

        & > :not(:last-child) {
            margin-bottom: 10px;
        }
    }

    // .schema-faq-section

    &-section {
        background: #fff;
        box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.06);
        padding: 24px 70px 24px 17px;
        position: relative;
        height: fit-content;

        &[data-open] {
            .schema-faq-question {
                &:after {
                    transform: rotate(0deg);
                }
            }

            .schema-faq-answer {
                max-height: 400px;
                margin-top: 10px !important;
            }
        }

        &:before {
            position: absolute;
            content: "";
            top: 15px;
            right: 15px;
            width: 38px;
            height: 38px;
            background-color: #f6f6f6;
            cursor: pointer;
        }
    }

    // .schema-faq-question

    &-question {
        cursor: pointer;

        &:before,
        &:after {
            position: absolute;
            content: "";
            width: 22px;
            height: 1px;
            background-color: #0066ff;

            right: 23px;
            top: 34px;
            transition: all 0.3s linear 0s;
            cursor: pointer;
        }

        &:after {
            transform: rotate(90deg);
        }
    }

    // .schema-faq-answer

    &-answer {
        padding-top: 0 !important;
        border-top: 0 !important;
        margin-top: 0 !important;

        transition: all 0.3s ease 0s;
        max-height: 0;
        overflow: hidden;
    }
}
