// null default styles
@import "null";

// load fonts
@import "fonts";

//load variables
@import "common/variables";

// load mixins
@import "mixins";

// load swiper
@import "../../node_modules/swiper/swiper";

// load fancybox
@import "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox";

// load common
@import "common/common";

// load header
@import "common/header";

// load footer
@import "common/footer";

// load error 404
@import "common/404";

// load menu
@import "common/menu";

// load to top
@import "common/to-top";

// load form
@import "common/form";

// load hero
@import "parts/hero";

// load cards
@import "parts/cards";

// load grid
@import "parts/grid";

// load slider
@import "parts/slider";

// load main
@import "parts/main";

// load breadcrumbs
@import "parts/breadcrumbs";

// load table
@import "parts/table";

// load wordpress
@import "parts/wordpress";

.pages {
    position: fixed;
    top: 50%;
    left: 0;
    background-color: #000;
    z-index: 10000;
    color: #fff;
    width: fit-content;
    height: auto;
    padding: 20px;
    transform: translate(0, -50%);

    &._hide {
        transform: translate(-100%, -50%);
    }

    button {
        padding: 5px;
        color: #fff;
        background-color: #000;
        margin-bottom: 10px;
        position: absolute;
        left: 100%;
        top: 0;
        font-size: 20px;
    }

    a {
        display: block;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
